@model User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Login</title>
</head>
<body>
    @if (ViewBag.Error != null)
    {
        <h1>@ViewBag.Error</h1>
    }
    @if(ViewBag.UserName!=null)
    {
        <h1>Hola @ViewBag.UserName</h1>
    }
    <div class="row mt-5">
        <div class="col offset-sm-4">
            <form asp-action="Login">
                <div class="form-group">
                    <label asp-for="CI">CI</label>
                    <input type="text" class="form-control" asp-for="CI" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
